<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_1172596257234" version="2.4">
  <servlet>
    <servlet-name>login2</servlet-name>
    <servlet-class>cn.edu.swu.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login2</servlet-name>
    <url-pattern>/loginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listall</servlet-name>
    <servlet-class>cn.edu.swu.mvc.ListAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listall</servlet-name>
    <url-pattern>/listallstudentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteStudent</servlet-name>
    <servlet-class>cn.edu.swu.mvc.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
</web-app>